@using System.Security.Claims
@model IEnumerable<ORBook.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách</h1>
@if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Admin")
{
    <p>
        <a asp-action="Create">Tạo mới</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a class="text-decoration-none" asp-controller="Books" asp-action="Index" asp-route-GenreId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.Role) == "Admin")
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>  
            }
        </tr>
}
    </tbody>
</table>
